@mixin button {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #d3d3d3;
  border: none;
  width: 100%;
  padding: 0.8rem 0;
  border-radius: 5px;
  margin: 1rem 0.5rem;
}

@mixin flexbox {
  display: flex;
  flex-direction: column;
}
